
*{
    margin: 0px;
    padding: 0px;
    user-select: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    overflow: hidden;
}

.alert{
    background-color: #ffdb9b;
    padding: 20px 40px;
    min-width: 420px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
    border-left: 8px solid #ffa502;
    overflow: hidden;
}

.alert.show{
    animation: slide_in 1s;
    top: -100px;
    animation-fill-mode: forwards;
}

.alert.hide{
    animation: slide_out 1s;
    top: 10px;
    animation-fill-mode: forwards;
}

@keyframes slide_in {
   from{top: -100px}
   to{top:10px}
}

@keyframes slide_out {
    from{top: 10px}
    to{top:-100px}
 }

.message-icon{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #ce8050;
    font-size: 30px;
}

.message{
    padding: 0px 20px;
    font-size: 18px;
    color: #ce8050;
    text-align: center;
}

.close-btn{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: #ffd080;
    padding: 20px 18px;
}

.close-btn:hover{
    background-color: #ffc766;
}

.close-btn i{
    color: #ce8050;
    font-size: 22px;
    line-height: 40px;
    cursor: pointer;
}

/* Colors for error class */
.alert.error{
    background-color: #FFCBCB;
    border-left: 8px solid #BF0A30;
}

.alert.error .message{
    color: #FC7676;
}

.alert.error .message-icon{
    color: #BF0A30;
}

.alert.error .close-btn{
    background: #ff6163;
}

.alert.error .close-btn:hover{
    background-color: #FC7676;
}

.alert.error .close-btn i{
    color: #FFCBCB;
}

/* Colors for warning class */
.alert.warning{
    background-color: #ffdb9b;
    border-left: 8px solid #ffa502;
}

.alert.warning .message{
    color: #ce8050;
}

.alert.warning .message-icon{
    color: #ce8050;
}

.alert.warning .close-btn{
    background: #ffd080;
}

.alert.warning .close-btn:hover{
    background-color: #ffc766;
}

.alert.warning .close-btn i{
    color: #ce8050;
}

/* Colors for info class */
.alert.info{
    background-color: #cbfdfd;
    border-left: 8px solid #93fcfc;
}

.alert.info .message{
    color: #04c7c7;
}

.alert.info .message-icon{
    color: #04c7c7;
}

.alert.info .close-btn{
    background: #04c7c7;
}

.alert.info .close-btn:hover{
    background-color: #04d7d7;
}

.alert.info .close-btn i{
    color: #63fbfb;
}

/* Colors for success class */
.alert.success{
    background-color: #99EDC3;
    border-left: 8px solid #03C04A;
}

.alert.success .message{
    color: #03C04A;
}

.alert.success .message-icon{
    color: #03C04A;
}

.alert.success .close-btn{
    background: #3CB043;
}

.alert.success .close-btn:hover{
    background-color: #5dbb63;
}

.alert.success .close-btn i{
    color: #99EDC3;
}

