@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Inter', sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    justify-content: center;
}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 10%;
}

#main-logo{
    font-size: 80px;
    
}

h1{
    font-size: 40px;
    font-weight: 800;  
    margin-top: 1rem;
}

p{
    font-size: 18px;
    text-align: center;
}

form{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
}

form label{
    font-size: 20px;
    font-weight: 500;
}

form input[type="email"], input[type="password"]{
    width: 400px;
    height: 35px;
    margin-right: 20px;
    border-radius: 5px;
    border: 0.5px solid black;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
}

form input[type="submit"], button{
    padding: 10px 30px;
    height: 50px;
    color: white;
    background-color: #1A285A;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    margin-top: 20px;
    font-weight: 500;
    cursor: pointer;
    align-self: center;
}

.bottom-text{
    margin-top: 2rem;
    color: rgba(0, 0, 0, 0.62);
}

.back-btn{
    font-weight: 700;
    margin-top: 3rem;
}

.back-btn i{
    margin-right: 10px;
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}