@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    display: grid;
    /* background-color: cadetblue; */
    font-size: 16px;
    grid-template-columns: 2fr 9fr;
    overflow-y: auto;
}

.section{
    padding: 20px;
    /* background-color: aquamarine; */
    text-align: center;
    /* border: 1px solid rebeccapurple */
}

#page-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dashboard-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title-text{
    display: inline-block;
}

.stat-card-holder{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    width: 100%;
}

.card{
    background-color: #1A285A;
    border-radius: 20px;
    width: max-content;
    padding:1rem;
    color: white;
}

.card span{
    font-size: 2.5rem;
    font-weight: bold;
}

.stat-chart-holder{
    display: flex;
    justify-content: space-evenly;
    margin-top: 4rem;
    margin-bottom: 3rem;
    width: 100%;
}

.users-chart-container{
    margin-top: 1rem;
    width: 60%;
}

.community-chart-container{
    margin-top: 1rem;
    width: 50%;
}

#top-posts-table{
    margin: 3rem auto;
    background-color:  rgba(0, 40, 145, 0.4);
    width: 100%;
    border-radius: 5px;
}

#top-posts-table th{
    text-transform: uppercase;
    height: 3rem;
    padding: 0.5rem;
}

#top-posts-table tr{
    height: 3rem;
}

#top-posts-table td:nth-child(odd) {
    background-color: rgba(0, 40, 145, 0.3);
}
#top-posts-table td:nth-child(even) {
    background-color: rgba(0, 40, 145, 0.2);
}

.listing-overview-area-chart{
    width: 80%;
    margin: 4rem auto;

}

.listing-overview-area-chart h3{
    font-size: 2rem;
    color: rgba(110, 116, 131, 0.4);
    margin-bottom: 2rem;
}